[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "*"
gunicorn = "*"
djangorestframework = "*"
django-cors-headers = "*"
dnspython = "*"
django = "*"
psycopg2-binary = "*"
bandit = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.7"
