[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "*"
gunicorn = "*"
djangorestframework = "*"
django-cors-headers = "*"
dnspython = "*"
django = "*"
psycopg2 = "*"
bandit = "*"
dj-database-url = "*"
pymongo = "*"
cryptography = "*"
google-auth = "*"
requests = "*"
pycryptodomex = "*"
python-dotenv = "*"
urllib3 = ">=1.26.5"
django-debug-toolbar = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
